@mixin xl {
  @media(max-width: 1400px){
    @content;
  }
}
@mixin lg-pc {
  @media(max-width: 1200px){
    @content;
  }
}
@mixin pad {
  @media(max-width: 768px){
    @content;
  }
}
@mixin mobile {
  @media(max-width: 576px){
    @content;
  }
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  object-fit: cover;
}
picture {
  display: block;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="search"]::-moz-search-clear-button {
  display: none;
}

.wrap {
  padding: 120px 0;

  @include pad {
    padding: 80px 0;
  }
}
.wrap-sm {
  padding: 80px 0;

  @include pad {
    padding: 40px 0;
  }
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  .media-f-between-lg-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.f-between-end {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.f-column {
  display: flex;
  flex-direction: column;
}

.card-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.w-xl-50 {
  @media (min-width: 1200px) {
    width: 50%;
  }
}
