<footer class="layout-footer-wrap bg-dark">
  <nav class="container-lg">
    <div class="d-md-flex justify-content-md-between px-3 px-lg-2">
      <div>
        <a href="index.html" class="navbar-brand">
          <img
            src="/assets/images/logo-white.png"
            alt="logo-image"
            style="width: 200px;height: 32px;">
        </a>
      </div>
      <ul class="d-md-flex px-0 mt-10 mt-md-0">
        <li class="ms-0 ms-md-8">
          <a href="#" class="fs-7 text-white fw-medium link-hover">
            常見問題
          </a>
        </li>
        <li class="ms-0 ms-md-8 mt-6 mt-md-0">
          <a href="#" class="fs-7 text-white fw-medium link-hover">
            關於我們
          </a>
        </li>
        <li class="ms-0 ms-md-8 mt-6 mt-md-0">
          <a href="#" class="fs-7 text-white fw-medium link-hover">
            隱私權政策
          </a>
        </li>
        <li class="ms-0 ms-md-8 mt-6 mt-md-0">
          <a href="#" class="fs-7 text-white fw-medium link-hover">
            使用者條款
          </a>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-column-reverse flex-md-row justify-content-md-between  align-items-md-end px-3 px-lg-2 mt-md-4">
      <div class="mt-8">
        <p class="copyright-text">
          copyright © 2024 LEARNING 課程網站 All Rights Reserved.
        </p>
      </div>
      <ul class="d-flex px-0 mt-10 mt-md-0">
        <li>
          <a href="#" class="icon-hover">
            <img src="/assets/images/icons/btn_line.png" alt="btn_line">
          </a>
        </li>
        <li class="ms-4">
          <a href="#" class="icon-hover">
            <img src="/assets/images/icons/btn_yt.png" alt="btn_youtube">
          </a>
        </li>
        <li class="ms-4">
          <a href="#" class="icon-hover">
            <img src="/assets/images/icons/btn_fb.png" alt="btn_fb">
          </a>
        </li>
      </ul>
    </div>
  </nav>
</footer>