<nav class="layout-nav-wrap container-xl pt-0 pb-0 pt-lg-10 pb-lg-4">
  <div class="d-flex navbar navbar-expand-lg navbar-light rounded-5">
    <a href="index.html" class="navbar-brand">
      <img
        src="/assets/images/logo.png"
        alt="logo-image"
        style="width: 200px;height: 32px;">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item dropdown px-6">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            探索
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li>
          <div class="input-group position-relative d-flex align-items-center">
            <input
              type="text"
              class="form-control rounded-4 ps-10 py-5"
              placeholder="搜尋各種音樂、數學、程式及設計課程"
              aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <span class="material-symbols-outlined position-absolute ms-2">
              search
            </span>
            <button
              class="btn btn-primary btn-sm rounded-1 position-absolute end-0 me-2" 
              type="button"
              id="button-addon2">
              搜尋
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <a href="#" class="nav-icon-link d-flex align-items-center ms-4">
        <span class="material-symbols-outlined text-neutral-80 position-relative">
          notifications
        </span>
      </a>
      <a href="#" class="nav-icon-link d-flex align-items-center ms-4">
        <span class="material-symbols-outlined text-neutral-80 position-relative">
          shopping_cart
        </span>
      </a>
      <a href="#" class="ms-4">
        <button type="button" class="btn btn-primary">
          登入 / 註冊
        </button>
      </a>
    </div>
  </div>
</nav>