<nav id="navbar" class="layout-nav-wrap container-xl pt-0 pb-0 pt-xl-10 pb-xl-4">
  <div class="navbar navbar-expand-xl navbar-light d-flex">
    <a
      href="index.html"
      class="navbar-brand">
      <img
        src="/assets/images/logo.png"
        alt="logo-image"
        class="logo-image">
    </a>
    <!-- 行動版選單 -->
    <div
      class="mobile-nav-menu offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-body py-0">
        <!-- 行動版navbar -->
        <ul
          class="nav nav-tabs border-bottom d-xl-none"
          id="mobileNavTab"
          role="tablist">
          <li class="nav-item w-50" role="presentation">
            <button
              class="nav-link mx-auto py-4 active"
              id="search-list-tab"
              data-bs-toggle="tab"
              data-bs-target="#search-list"
              type="button"
              role="tab"
              aria-controls="search-list"
              aria-selected="true">
              探索
            </button>
          </li>
          <li class="nav-item w-50" role="presentation">
            <button
              class="nav-link mx-auto py-4"
              id="user-list-tab"
              data-bs-toggle="tab"
              data-bs-target="#user-list"
              type="button"
              role="tab"
              aria-controls="user-list"
              aria-selected="false">
              我的會員
            </button>
          </li>
        </ul>
        <div class="d-xl-none tab-content position-relative" id="mobileNavTabContent">
          <div
            class="tab-pane fade show active"
            id="search-list"
            role="tabpanel"
            aria-labelledby="search-list-tab">
            <ul class="list-group py-6">
              <li class="list-group-item border-0">
                <a href="#" class="f-between-center">
                  探索全部
                  <span class="material-symbols-outlined fs-5">chevron_right</span>
                </a>
              </li>
              <li class="list-group-item border-0 mt-2">
                <a href="#" class="f-between-center">
                  音樂
                  <span class="material-symbols-outlined fs-5">chevron_right</span>
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="#" class="f-between-center">
                  攝影
                  <span class="material-symbols-outlined fs-5">chevron_right</span>
                </a>
              </li>
              <li class="list-group-item border-0">
                <a
                  class="f-between-center"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false">
                  程式
                  <span class="material-symbols-outlined fs-5">chevron_right</span>
                </a>
                <ul
                class="mobile-nav-menu-sec list-group bg-white py-6 dropdown-menu"
                aria-labelledby="navbarDropdown">
                <li class="list-group-item border-0">
                  <a href="#" class="border-bottom border-neutral-40">
                    所有程式
                  </a>
                </li>
                <li class="list-group-item border-0 mt-2">
                  <a href="#">
                    程式入門
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    網頁前端
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    網頁後端
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    網站架設
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    資訊安全
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    程式語言
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    遊戲開發
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    資料科學
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    人工智慧
                  </a>
                </li>
                <li class="list-group-item border-0">
                  <a href="#">
                    量化分析
                  </a>
                </li>
              </ul>
              </li>
              <li class="list-group-item border-0">
                <a href="#">
                  網站架設
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="#">
                  資訊安全
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="#">
                  程式語言
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="#">
                  遊戲開發
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="#">
                  資料科學
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="#">
                  人工智慧
                </a>
              </li>
              <li class="list-group-item border-0">
                <a href="#">
                  量化分析
                </a>
              </li>
            </ul>
            <div class="d-xl-none border-top bg-white w-100 position-fixed bottom-0 p-3">
              
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="user-list"
            role="tabpanel"
            aria-labelledby="user-list-tab">
            <div>123</div>
          </div>
        </div>

        <!-- 電腦版navbar -->
        <ul class="navbar-nav d-none d-xl-flex align-items-center">
          <li class="nav-item dropdown px-6">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false">
              探索
            </a>

            <!-- 電腦版探索下拉選單 -->
            <div
            class="desktop-nav-dropdowm-menu dropdown-menu overflow-hidden shadow mt-9"
            data-bs-popper="static">
            <div class="d-flex bg-white">
              <!-- 第一層 -->
              <ul class="list-unstyled dropdown-menu-fir" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item f-between-center rounded-1" href="#">
                    探索全部
                  </a>
                </li>
                <li class="mt-2">
                  <a class="dropdown-item f-between-center" href="#">
                    攝影
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    音樂
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item f-between-center active"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-expanded="false">
                    程式
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    程式
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    藝術
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    人文
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    行銷
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    投資理財
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    心靈成長
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    職場技能
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center rounded-1" href="#">
                    生活品味
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
              </ul>
          
              <!-- 第二層 -->
              <ul
                class="list-unstyled dropdown-menu-sec border-0 rounded-0 p-3 top-0"
                aria-labelledby="navbarDropdown"
                data-bs-auto-close="outside">
                <li>
                  <a class="dropdown-item f-between-center rounded-1" href="#">
                    所有程式
                  </a>
                </li>
                <li class="mt-2">
                  <a class="dropdown-item f-between-center" href="#">
                    程式入門
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item f-between-center active"
                    href="#"
                    data-bs-toggle="dropdown">
                    網頁前端
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    網頁後端
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    網站架設
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    資訊安全
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    程式語言
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    遊戲開發
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    資訊科學
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center" href="#">
                    人工智慧
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item f-between-center rounded-1" href="#">
                    量化分析
                    <span class="material-symbols-outlined fs-5">chevron_right</span>
                  </a>
                </li>
              </ul>
          
              <!-- 第三層 -->
              <ul
                class="list-unstyled dropdown-menu-thr py-3 px-6 border-0 mt-0 top-0"
                aria-labelledby="navbarDropdown">
                <li>
                  <div class="d-flex align-items-center border-bottom pb-4">
                    <img
                      src="/assets/images/icons/ic_fire.png"
                      alt="icon-fire"
                      style="width: 24px;height: 24px;">
                    <p class="fw-semibold ms-2">
                      熱門網頁前端課程
                    </p>
                  </div>
                  <div class="pt-4 pb-6">
                    <a href="#" class="mobile-course-card card border-0 d-flex flex-row position-relative">
                      <div class="course-card-img flex-shrink-0">
                        <img
                          src="/assets/images/course-5.png"
                          class="card-img rounded-0"
                          alt="course-image">
                      </div>
                      <div class="card-body card-column flex-grow-1 ms-2 p-0">
                        <h6 class="card-title fs-7">
                          小白也會！從零開始學習 Python 程式設計
                        </h6>
                        <div class="f-between-center mt-4">
                          <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                              <img
                                src="/assets/images/avatar-2.png"
                                alt="user-image"
                                class="rounded-circle me-2"
                                style="width: 44px; height: 44px;">
                            </div>
                            <div class="flex-grow-1">
                              <p class="text-neutral-80">Kelly Hsu</p>
                            </div>
                          </div>
                          <div class="text-end">
                            <h6 class="fs-7 text-primary fw-semibold">NT$ 2,480</h6>
                            <del class="fs-9 text-gray-light">NT$ 3,200</del>
                          </div>
                        </div>
                        <div class="border-top f-between-center py-2 mt-2">
                          <div>
                            <p class="fs-8 mt-1">已有 420 位同學加入</p>
                          </div>
                          <div class="d-flex align-items-center">
                            <img src="/assets/images/icons/ic_star.png" alt="icon-star">
                            <p class="fs-8 text-black-light fw-medium ms-1">4.0</p>
                            <p class="fs-8 text-gray-light fw-medium ms-1">(333)</p>
                          </div>
                        </div>
                      </div>
                      <div class="bg-alert-tag tag-mobile position-absolute mt-1 ms-1">
                        <span>8 折</span>
                      </div>
                    </a>
                  </div>
                  <div class="border-top pt-4 pb-6">
                    <a href="#" class="mobile-course-card card border-0 d-flex flex-row position-relative">
                      <div class="course-card-img flex-shrink-0">
                        <img
                          src="/assets/images/course-5.png"
                          class="card-img rounded-0"
                          alt="course-image">
                      </div>
                      <div class="card-body card-column flex-grow-1 ms-2 p-0">
                        <h6 class="card-title fs-7">
                          小白也會！從零開始學習 Python 程式設計
                        </h6>
                        <div class="f-between-center mt-4">
                          <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                              <img
                                src="/assets/images/avatar-2.png"
                                alt="user-image"
                                class="rounded-circle me-2"
                                style="width: 44px; height: 44px;">
                            </div>
                            <div class="flex-grow-1">
                              <p class="text-neutral-80">Kelly Hsu</p>
                            </div>
                          </div>
                          <div class="text-end">
                            <h6 class="fs-7 text-neutral-60 fw-semibold">已購買</h6>
                            <del class="fs-9 text-gray-light">NT$ 3,200</del>
                          </div>
                        </div>
                        <div class="border-top f-between-center py-2 mt-2">
                          <div>
                            <p class="fs-8 mt-1">已有 420 位同學加入</p>
                          </div>
                          <div class="d-flex align-items-center">
                            <img src="/assets/images/icons/ic_star.png" alt="icon-star">
                            <p class="fs-8 text-black-light fw-medium ms-1">4.0</p>
                            <p class="fs-8 text-gray-light fw-medium ms-1">(333)</p>
                          </div>
                        </div>
                      </div>
                      <div class="bg-alert-tag tag-mobile position-absolute mt-1 ms-1">
                        <span>8 折</span>
                      </div>
                    </a>
                  </div>
                  <div class="border-top pt-4 pb-6">
                    <a href="#" class="mobile-course-card card border-0 d-flex flex-row position-relative">
                      <div class="course-card-img flex-shrink-0">
                        <img
                          src="/assets/images/course-5.png"
                          class="card-img rounded-0"
                          alt="course-image">
                      </div>
                      <div class="card-body card-column flex-grow-1 ms-2 p-0">
                        <h6 class="card-title fs-7">
                          小白也會！從零開始學習 Python 程式設計
                        </h6>
                        <div class="f-between-center mt-4">
                          <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                              <img
                                src="/assets/images/avatar-2.png"
                                alt="user-image"
                                class="rounded-circle me-2"
                                style="width: 44px; height: 44px;">
                            </div>
                            <div class="flex-grow-1">
                              <p class="text-neutral-80">Kelly Hsu</p>
                            </div>
                          </div>
                          <div class="text-end">
                            <h6 class="fs-7 text-primary fw-semibold">NT$ 2,480</h6>
                            <del class="fs-9 text-gray-light">NT$ 3,200</del>
                          </div>
                        </div>
                        <div class="border-top f-between-center py-2 mt-2">
                          <div>
                            <p class="fs-8 mt-1">已有 420 位同學加入</p>
                          </div>
                          <div class="d-flex align-items-center">
                            <img src="/assets/images/icons/ic_star.png" alt="icon-star">
                            <p class="fs-8 text-black-light fw-medium ms-1">4.0</p>
                            <p class="fs-8 text-gray-light fw-medium ms-1">(333)</p>
                          </div>
                        </div>
                      </div>
                      <div class="bg-alert-tag tag-mobile position-absolute mt-1 ms-1">
                        <span>8 折</span>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>  
          
          </li>
          <li class="d-none d-xl-block">
            <div class="input-group position-relative d-flex align-items-center">
              <input
                type="text"
                class="form-control rounded-3 ps-10 py-5"
                placeholder="搜尋各種音樂、數學、程式及設計課程"
                aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <span class="material-symbols-outlined position-absolute ms-2">
                search
              </span>
              <button
                class="btn btn-primary btn-sm rounded-1 position-absolute end-0 me-2" 
                type="button"
                id="button-addon2">
                搜尋
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- nav右側按鈕列表 -->
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <!-- 通知icon按鈕 -->
        <a
          class="nav-icon-link dropdown-toggle d-flex align-items-center"
          href="#"
          role="button"
          id="nav-alert-icon-dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="material-symbols-outlined text-neutral-80 position-relative">
            notifications
            <span
              class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-1">
              <span class="visually-hidden">unread messages</span>
            </span>
          </span>
        </a>
        <ul
          class="nav-alert-dropdown-menu dropdown-menu shadow rounded-1"
          aria-labelledby="nav-alert-icon-dropdownMenuLink"
          style="margin-top: 36px;">
          <li class="d-flex align-items-center justify-content-end px-4 py-3">
            <a class="fs-7 text-primary link-hover align-items-center d-inline-block" href="#">
              <i class="bi bi-check-circle-fill text-primary d-inline-block me-2" style="font-size: 18px;"></i>
              全部標記為已讀
            </a>
          </li>
          <li>
            <a href="#" class="dropdown-item bg-neutral-10 border-top px-4 py-3">
              <div class="dropdown-content d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img
                    src="/assets/images/icons/icon-blue-campaign.png"
                    alt="icon-blue-campaign"
                    class="rounded-circle me-4"
                    style="width: 40px; height: 40px;">
                </div>
                <div class="flex-grow-1">
                  <p>
                    系統通知：6 月 30 日 02:00 網站系統排程更新
                  </p>
                  <small class="text-neutral-60">4 天前</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="dropdown-item border-top px-4 py-3">
              <div class="dropdown-content d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img
                    src="/assets/images/icons/icon-red-alert.png"
                    alt="icon-red-alert"
                    class="rounded-circle me-4"
                    style="width: 40px; height: 40px;">
                </div>
                <div class="flex-grow-1">
                  <p>
                    募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！
                  </p>
                  <small class="text-neutral-60">7 天前</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="dropdown-item bg-neutral-10 border-top px-4 py-3">
              <div class="dropdown-content d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img
                    src="/assets/images/icons/icon-red-alert.png"
                    alt="icon-red-alert"
                    class="rounded-circle me-4"
                    style="width: 40px; height: 40px;">
                </div>
                <div class="flex-grow-1">
                  <p>
                    募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！
                  </p>
                  <small class="text-neutral-60">7 天前</small>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <!-- 購物車icon按鈕 -->
      <a href="cart.html" class="nav-icon-link d-flex align-items-center ms-xl-4">
        <span class="material-symbols-outlined text-neutral-80 position-relative">
          shopping_cart
          <span 
            class="fs-8 inter position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary px-2">2
            <span class="visually-hidden">unread messages</span>
          </span>
        </span>
      </a>

      <!-- 漢堡icon按鈕 -->
      <button
        class="navbar-toggler border-0 nav-icon-link"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 會員按鈕 -->
      <div class="dropdown ms-4 d-none d-xl-block">
        <a
          class="nav-icon-link dropdown-toggle d-flex align-items-center"
          href="#"
          role="button"
          id="nav-user-dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img
                src="/assets/images/avatar-1.png"
                alt="user-image"
                class="rounded-circle me-4"
                style="width: 44px; height: 44px;">
            </div>
            <div class="flex-grow-1">
              <p class="fw-semibold text-neutral-80">Jessica</p>
            </div>
          </div>
        </a>
        <ul
          class="nav-user-dropdown-menu dropdown-menu dropdown-menu-right shadow rounded-1"
          aria-labelledby="nav-alert-icon-dropdownMenuLink"
          style="margin-top: 28px;">
          <li class="border-top px-3 py-4">
            <div class="dropdown-content d-flex align-items-center">
              <div class="flex-shrink-0">
                <img
                  src="/assets/images/avatar-1.png"
                  alt="user-image"
                  class="rounded-circle me-4"
                  style="width: 44px; height: 44px;">
              </div>
              <div class="flex-grow-1">
                <p class="fw-semibold">Jessica</p>
                <small class="text-neutral-60">學習初心者</small>
              </div>
            </div>
          </li>
          <div class="list-group border-top mx-3 py-4">
            <a href="#" class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 9C16 10.0609 15.5786 11.0783 14.8284 11.8284C14.0783 12.5786 13.0609 13 12 13C10.9391 13 9.92172 12.5786 9.17157 11.8284C8.42143 11.0783 8 10.0609 8 9C8 7.93913 8.42143 6.92172 9.17157 6.17157C9.92172 5.42143 10.9391 5 12 5C13.0609 5 14.0783 5.42143 14.8284 6.17157C15.5786 6.92172 16 7.93913 16 9ZM14 9C14 9.53043 13.7893 10.0391 13.4142 10.4142C13.0391 10.7893 12.5304 11 12 11C11.4696 11 10.9609 10.7893 10.5858 10.4142C10.2107 10.0391 10 9.53043 10 9C10 8.46957 10.2107 7.96086 10.5858 7.58579C10.9609 7.21071 11.4696 7 12 7C12.5304 7 13.0391 7.21071 13.4142 7.58579C13.7893 7.96086 14 8.46957 14 9Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12C1 18.075 5.925 23 12 23C18.075 23 23 18.075 23 12C23 5.925 18.075 1 12 1ZM3 12C3 14.09 3.713 16.014 4.908 17.542C5.74723 16.4399 6.8299 15.5467 8.07143 14.9323C9.31297 14.3179 10.6797 13.9988 12.065 14C13.4323 13.9987 14.7819 14.3095 16.0109 14.9088C17.2399 15.508 18.316 16.3799 19.157 17.458C20.0234 16.3216 20.6068 14.9952 20.8589 13.5886C21.111 12.182 21.0244 10.7355 20.6065 9.36898C20.1886 8.00243 19.4512 6.75505 18.4555 5.73004C17.4598 4.70503 16.2343 3.93186 14.8804 3.47451C13.5265 3.01716 12.0832 2.88877 10.6699 3.09997C9.25652 3.31117 7.91379 3.85589 6.75277 4.68905C5.59175 5.52222 4.64581 6.61987 3.99323 7.8912C3.34065 9.16252 3.00018 10.571 3 12ZM12 21C9.93395 21.0031 7.93027 20.2923 6.328 18.988C6.97293 18.0647 7.83134 17.3109 8.83019 16.7907C9.82905 16.2705 10.9388 15.9992 12.065 16C13.1772 15.9991 14.2735 16.2636 15.2629 16.7714C16.2524 17.2793 17.1064 18.0159 17.754 18.92C16.1393 20.2667 14.1026 21.0029 12 21Z" fill="currentColor"/>
              </svg>
              <span class="ms-2">個人檔案</span>
            </a>
            <a href="#" class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_2794_4155)">
                <path d="M3 3V23.25C2.9999 23.3802 3.03373 23.5083 3.09814 23.6215C3.16255 23.7347 3.25532 23.8291 3.36734 23.8956C3.47935 23.962 3.60674 23.9982 3.73696 24.0004C3.86718 24.0027 3.99574 23.971 4.11 23.9085L12 19.6035L19.89 23.9085C20.0043 23.971 20.1328 24.0027 20.263 24.0004C20.3933 23.9982 20.5207 23.962 20.6327 23.8956C20.7447 23.8291 20.8375 23.7347 20.9019 23.6215C20.9663 23.5083 21.0001 23.3802 21 23.25V3C21 2.20435 20.6839 1.44129 20.1213 0.87868C19.5587 0.316071 18.7956 0 18 0L6 0C5.20435 0 4.44129 0.316071 3.87868 0.87868C3.31607 1.44129 3 2.20435 3 3Z" fill="currentColor"/>
                </g>
                <defs>
                  <clipPath id="clip0_2794_4155">
                    <rect width="24" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <span class="ms-2">我的收藏</span>
            </a>
            <a href="#" class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M19.8999 12.66C19.7396 12.4775 19.6512 12.2429 19.6512 12C19.6512 11.7571 19.7396 11.5225 19.8999 11.34L21.1799 9.89999C21.3209 9.74266 21.4085 9.54469 21.4301 9.33449C21.4516 9.1243 21.4061 8.91267 21.2999 8.72999L19.2999 5.26999C19.1948 5.08751 19.0348 4.94286 18.8426 4.85667C18.6505 4.77048 18.4361 4.74714 18.2299 4.78999L16.3499 5.16999C16.1107 5.21942 15.8616 5.17958 15.6498 5.05799C15.4379 4.9364 15.2779 4.74147 15.1999 4.50999L14.5899 2.67999C14.5228 2.48137 14.395 2.30885 14.2245 2.18683C14.0541 2.06481 13.8495 1.99945 13.6399 1.99999H9.6399C9.42183 1.9886 9.20603 2.04891 9.02546 2.1717C8.84489 2.29449 8.70948 2.47301 8.6399 2.67999L8.0799 4.50999C8.0019 4.74147 7.84187 4.9364 7.63001 5.05799C7.41815 5.17958 7.16911 5.21942 6.9299 5.16999L4.9999 4.78999C4.80445 4.76237 4.6052 4.79321 4.42724 4.87863C4.24929 4.96404 4.1006 5.10021 3.9999 5.26999L1.9999 8.72999C1.89106 8.91064 1.84212 9.12107 1.86008 9.33121C1.87804 9.54135 1.96198 9.74043 2.0999 9.89999L3.3699 11.34C3.53022 11.5225 3.61863 11.7571 3.61863 12C3.61863 12.2429 3.53022 12.4775 3.3699 12.66L2.0999 14.1C1.96198 14.2595 1.87804 14.4586 1.86008 14.6688C1.84212 14.8789 1.89106 15.0893 1.9999 15.27L3.9999 18.73C4.10499 18.9125 4.26502 19.0571 4.45715 19.1433C4.64928 19.2295 4.86372 19.2528 5.0699 19.21L6.9499 18.83C7.18911 18.7806 7.43815 18.8204 7.65001 18.942C7.86187 19.0636 8.0219 19.2585 8.0999 19.49L8.7099 21.32C8.77948 21.527 8.91489 21.7055 9.09546 21.8283C9.27603 21.9511 9.49183 22.0114 9.7099 22H13.7099C13.9195 22.0005 14.1241 21.9352 14.2945 21.8131C14.465 21.6911 14.5928 21.5186 14.6599 21.32L15.2699 19.49C15.3479 19.2585 15.5079 19.0636 15.7198 18.942C15.9316 18.8204 16.1807 18.7806 16.4199 18.83L18.2999 19.21C18.5061 19.2528 18.7205 19.2295 18.9126 19.1433C19.1048 19.0571 19.2648 18.9125 19.3699 18.73L21.3699 15.27C21.4761 15.0873 21.5216 14.8757 21.5001 14.6655C21.4785 14.4553 21.3909 14.2573 21.2499 14.1L19.8999 12.66ZM18.4099 14L19.2099 14.9L17.9299 17.12L16.7499 16.88C16.0297 16.7328 15.2805 16.8551 14.6445 17.2238C14.0085 17.5925 13.53 18.1818 13.2999 18.88L12.9199 20H10.3599L9.9999 18.86C9.76975 18.1618 9.29128 17.5725 8.6553 17.2038C8.01932 16.8351 7.27012 16.7128 6.5499 16.86L5.3699 17.1L4.0699 14.89L4.8699 13.99C5.36185 13.44 5.63383 12.7279 5.63383 11.99C5.63383 11.2521 5.36185 10.54 4.8699 9.98999L4.0699 9.08999L5.3499 6.88999L6.5299 7.12999C7.25012 7.27721 7.99932 7.15487 8.6353 6.78619C9.27128 6.4175 9.74975 5.82815 9.9799 5.12999L10.3599 3.99999H12.9199L13.2999 5.13999C13.53 5.83815 14.0085 6.4275 14.6445 6.79619C15.2805 7.16487 16.0297 7.28721 16.7499 7.13999L17.9299 6.89999L19.2099 9.11999L18.4099 10.02C17.9235 10.5687 17.6549 11.2767 17.6549 12.01C17.6549 12.7433 17.9235 13.4512 18.4099 14ZM11.6399 7.99999C10.8488 7.99999 10.0754 8.23458 9.41761 8.67411C8.75982 9.11363 8.24713 9.73835 7.94438 10.4693C7.64163 11.2002 7.56241 12.0044 7.71675 12.7803C7.8711 13.5563 8.25206 14.269 8.81147 14.8284C9.37088 15.3878 10.0836 15.7688 10.8595 15.9231C11.6355 16.0775 12.4397 15.9983 13.1706 15.6955C13.9015 15.3928 14.5262 14.8801 14.9658 14.2223C15.4053 13.5645 15.6399 12.7911 15.6399 12C15.6399 10.9391 15.2185 9.9217 14.4683 9.17156C13.7182 8.42141 12.7008 7.99999 11.6399 7.99999ZM11.6399 14C11.2443 14 10.8577 13.8827 10.5288 13.6629C10.1999 13.4432 9.94351 13.1308 9.79214 12.7654C9.64076 12.3999 9.60116 11.9978 9.67833 11.6098C9.7555 11.2218 9.94598 10.8655 10.2257 10.5858C10.5054 10.3061 10.8618 10.1156 11.2497 10.0384C11.6377 9.96125 12.0398 10.0009 12.4053 10.1522C12.7707 10.3036 13.0831 10.5599 13.3028 10.8888C13.5226 11.2177 13.6399 11.6044 13.6399 12C13.6399 12.5304 13.4292 13.0391 13.0541 13.4142C12.679 13.7893 12.1703 14 11.6399 14Z" fill="currentColor"/>
                </svg>
              <span class="ms-2">帳號設定</span>
            </a>
          </div>
          <div class="list-group border-top mx-3 py-4">
            <a href="#" class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M17 4H7C5.89543 4 5 4.89543 5 6V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V6C19 4.89543 18.1046 4 17 4Z" stroke="currentColor" stroke-width="2"/>
                <path d="M9 9H15M9 13H15M9 17H13" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
              <span class="ms-2">訂單記錄</span>
            </a>
            <a href="#" class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_2794_8627)">
                <path d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25ZM20.71 7.04C21.1 6.65 21.1 6.02 20.71 5.63L18.37 3.29C17.98 2.9 17.35 2.9 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04Z" fill="currentColor"/>
                </g>
                <defs>
                  <clipPath id="clip0_2794_8627">
                    <rect width="24" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <span class="ms-2">作業成果</span>
            </a>
          </div>
          <div class="list-group border-top mx-3 py-4">
            <a href="#" class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M20.15 13H8V11H20.15L18.6 9.45L20 8L24 12L20 16L18.6 14.55L20.15 13ZM15 9V5H5V19H15V15H17V19C17 19.55 16.8042 20.0208 16.4125 20.4125C16.0208 20.8042 15.55 21 15 21H5C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H15C15.55 3 16.0208 3.19583 16.4125 3.5875C16.8042 3.97917 17 4.45 17 5V9H15Z" fill="currentColor"/>
                </svg>
              <span class="ms-2">登出</span>
            </a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>