.course-card-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

/* mobile-course-card */
.mobile-course-card {
  .course-card-img {
    border-radius: 12px;
    width: 100px;
    height: 100%;
    overflow: hidden;

    img {
      height: 100px;
      object-position: center;
    }
  }
}