/* common*/
.dropdown-menu-center {
  left: 50%;
  transform: translateX(-40%);
}
.dropdown-menu-right {
  transform: translateX(-20%);
}

/* nav-alert-dropdown-menu */
.nav-alert-dropdown-menu {
  width: 320px;
  height: 300px;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  left: 50%;
  transform: translateX(-40%);

  @include lg-pc {
    transform: translateX(-60%);
  }
  
  &::-webkit-scrollbar {
    display: none; 
  }

  .dropdown-content {
    white-space: normal;
  }
}

/* nav-user-dropdown-menu */
.nav-user-dropdown-menu {
  width: 237px;
}

/* media-nav-user-dropdown-menu */
.media-nav-user-dropdown-menu{
  height: calc(100vh - 140px);
  overflow-y: auto;
}
/* .unauthenticated-nav-list-group */
.unauthenticated-nav-list-group {
  height: calc(100vh - 90px);
  overflow-y: auto;
}

/* nav-user-dropdown-menu, 
  media-nav-user-dropdown-menu, 
  nav-bottom-btn */
.nav-user-dropdown-menu,
.media-nav-user-dropdown-menu,
.nav-bottom-btn {
  .list-group-item {
    border: 0;
    border-radius: 12px;
    padding: 12px 24px;

    &:hover {
      color: $white;
      background-color: $primary-100;
    }
  }
}

/* desktop-nav-dropdowm-menu */
.desktop-nav-dropdowm-menu {
  width: 863px;
  border-radius: 12px;
  background-color: $white;

  &[data-bs-popper] {
    left: -20%;
  }
  
  .dropdown-menu {
    &-fir,
    &-sec {
      font-weight: 600;
      border-right: 1px solid $neutral-40;
      width: 232px;
        
      .dropdown-item {
        border-radius: 12px;
        padding: 12px 12px 12px 24px;
      }
    }
  
    &-fir,
    &-sec,
    &-thr {
      height: calc(100vh - 360px);
      overflow-y: scroll;
    }
  
    &-fir {
      background: $neutral-10;
      padding: 12px;
    }
    
    &-thr {
      width: 48%;
      padding: 12px 24px 4px;
    }
  }
}


