/* common*/
.dropdown-menu-center {
  left: 50%;
  transform: translateX(-40%);
}
.dropdown-menu-right {
  transform: translateX(-20%);
}

/* nav-alert-dropdown-menu */
.nav-alert-dropdown-menu {
  width: 320px;
  height: 300px;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  left: 50%;
  transform: translateX(-40%);

  @include lg-pc {
    transform: translateX(-60%);
  }
  
  &::-webkit-scrollbar {
    display: none; 
  }

  .dropdown-content {
    white-space: normal;
  }
}

/* nav-user-dropdown-menu */
.nav-user-dropdown-menu {
  width: 237px;

  .list-group-item {
    border: 0;
    border-radius: 12px;
    padding: 12px 24px;

    &:hover {
      color: $white;
      background-color: $primary-100;
    }
  }
}

/* search-dropdown-menu */
.search-dropdown-menu {
  font-weight: 600;
  background: $neutral-10;
  border-right: 1px solid $neutral-40;
  border-radius: 12px;
  padding: 12px;
  width: 863px;
  height: 600px;

  li {
    width: 208px;
  }

  .dropdown-item {
    border-radius: 12px;
    padding: 12px 12px 12px 24px;
  }
}

.search-dropdown-sec-menu {
  border: 0;
  border-right: 1px solid $neutral-40;
}

.search-dropdown-th-menu {
  padding: 12px 24px;

  li {
    width: 100%;
  }

  .course-card-img {
    width: 100px;
    height: 100px;
  }
}