/* cart-section */
.cart-section {
  @include pad {
    padding-top: 94px;
    padding-bottom: 8px;
  }
}

/* cart-progress-section */
.cart-progress {
  &-section {
    display: flex;
    justify-content: center;
  }

  &-item {  
    width: 35%;
    align-items: center;
    padding: 4px;

    @include lg-pc {
      width: 100%;
    }
      
    hr {
      flex-grow: 1;
      border: none;
      height: 1px;
      background-color: $neutral-60;
      margin: 0 16px;
    }
  }

  &-img {
    width: 200px;

    @include pad {
      width: 100%;
    }
  }

  h2 {
    @include pad {
      font-size: 16px;
    }
  }
}

/* cart-card */
.cart-card  {
  .card {
    @include pad {
      border-radius: 0;
    }
  }
  .card-header {
    padding: 24px 16px;
  }

  &-table {
    margin-bottom: 0;

    th, td {
      padding: 32px 0;
    }

    tr:last-child {
      th,td {
        border: 0;
      }
    }
  }
}