/* cart-section, pay-section */
.cart-section,
.pay-section {
  @include pad {
    padding-top: 94px;
  }
}
/* cart-section */
.cart-section {
  @include pad {
    padding-bottom: 8px;
  }
}
/* pay-section */
.pay-section {
  h2 {
    font-size: 24px;
    
    @include pad {
      font-size: 16px;
    }
  }
  @include pad {
    padding-bottom: 16px;
  }
}

/*----------------------------------------*/
/* cart-progress-section */
.cart-progress {
  &-section {
    display: flex;
    justify-content: center;
  }

  &-item {  
    width: 35%;
    align-items: center;
    padding: 4px;

    @include lg-pc {
      width: 100%;
    }
      
    hr {
      flex-grow: 1;
      border: none;
      height: 1px;
      background-color: $neutral-60;
      margin: 0 16px;
    }
  }

  &-img {
    width: 200px;

    @include pad {
      width: 100%;
    }
  }

  h2 {
    @include pad {
      font-size: 16px;
    }
  }
}

/*----------------------------------------*/
/* cart-card, product-details-card  */
.cart-card,
.product-details-card  {
  .card {
    @include pad {
      border-radius: 0;
    }
  }
  .card-header {
    padding: 16px 24px;

    @include pad {
      padding: 16px 12px;
    }
  }

  &-table {
    margin-bottom: 0;

    th, td {
      padding: 32px 0;
    }

    tr:last-child {
      th,td {
        border: 0;
      }
    }
  }
}

/* product-details-card */
.product-details-card  {
  .pay-info-card {
    margin-top: -4px;
    .row {
      margin-top: 10px;
    }
  }
  .userCredit-wrap {
    width: 480px;

    @include pad {
      width: 100%;
    }
  }
  .dropdown-toggle {
    background-color: $white;
    color: $black;
    border-color: $neutral-40;
    font-weight: 400;
  }

  .dropdown-menu {
    border: none;
  }

  .dropdown-item:hover {
    background-color: $primary-10;
    font-weight: 600;
    color: $primary-100;
    border-radius: 8px;
  }

  .btn.dropdown-toggle::after {
    display: none;
  }
}

.loadingModal {
  backdrop-filter: blur(8px);

  .modal-dialog {
    width: 440px;

    @include pad {
      width: 235px;
    }
  }

  .modal-body {
    border-radius: 20px;
    padding: 80px 120px;

    @include pad {
      padding: 48px 48px 24px;
    }
  }

  .lottie-icon {
    width: 68px; height: 12px;

    @include pad {
      width: 48px; height: 8px;
    }
  }

  .logo-icon {
    width: 200px; height: 32px;
    margin-top: 60px;

    @include pad {
      width: 125px; height: 20px;
      margin-top: 40px;
    }
  }

  h6 {
    margin-top: 16px;

    @include pad {
      font-size: 16px;
    }
  }
}
