/* courses-header-section */
.courses-header-section {
  background-color: $neutral-10;
  position: relative;
  overflow: hidden;

  @include lg-pc {
    padding-top: 104px;
  }

  .category-btn-wrap {
    display: flex;
    position: relative;
  }

  .category-btn-group {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-right: 64px;

    &::-webkit-scrollbar {
      height: 0;
    }

    @include lg-pc {
      margin-right: 0;
    }
  }

  .scroll-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;

    @include lg-pc {
      display: none;
    }
  }

  .breadcrumb,
  h1,
  .category-btn-wrap {
    position: relative;
    z-index: 2;
  }
  /* big-flower-deco */
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 560px;
    height: 560px;
    background-image: url(/assets/images/deco/flower-2.png);
    z-index: 0;
  }
  &::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include lg-pc {
      display: none;
    }
  }
  &::after {
    right: 0; bottom: -280px;

    @include lg-pc {
      transform: scale(0.43);
      transform-origin: top right;
      top: 64px;
    }
  }
  /* small-flower-deco */
  .breadcrumb::before,
  .breadcrumb::after  {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(/assets/images/deco/polygon-2.png);
    background-repeat: no-repeat;
    z-index: 1;
  }
  .breadcrumb::before {
    left: -162px; top: 0;
    
    @include lg-pc {
      left: 4px;
      z-index: 0;
    }
  }
  .breadcrumb::after {
    right: 48px; top: -30px;

    @include lg-pc {
      display: none;
    }
  }
}


/* courses-most-section  */
.courses-most-section {
  .container-fluid {
    width: 1380px;

    @include xl {
      width: 100%;
    }
  }
  
  .courses-hot-swiper {
    padding-left: 30px;
    padding-right: 30px;

    @include lg-pc {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

/* courses-theme-section */
.courses-theme-section {
  h3 {
    @include pad {
      font-size: 20px;
    }
  }
}

/* courses-search-section */
.courses-search-section {
  h3 {
    @include pad {
      font-size: 16px;
    }
  }

  .info {
    @include lg-pc {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

/* courses-category-section */
.courses-category-section {
  .info {
    padding-top: 130px;

    @include xl {
      padding-top: 0;
    }
  }
}
